body{
    margin: 0;
    border: 0;
    background-color: black;
}

#textarea{
    margin: 10px 20px;
    border: 2px solid black;
    font-size: x-large;
    background-color: azure;
    box-shadow: 5px 5px 20px rgb(88, 99, 99);
    font-weight: 700;
}

.alphaKeyTab{
    width: 70px;
    height: 50px;
    margin: 10px 5px;
    background-color: blanchedalmond;
}

.alphaKeyTab:hover{
    box-shadow: 1px 1px 5px black;
}

#keyboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 10px;
    margin: 0px 20px;
    background-color: rgb(152, 145, 145);
}

#spacetab{
    width: 300px;
    margin-top: 2px;
}


